* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
    position: relative;
}

#center-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#content {
    display: flex;
    flex: 1;
}

#links {
	margin: 15px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

#links a {
    color: #fff;
    text-decoration: none;
    margin: 15px;
}

#links a:hover {
    filter: drop-shadow(1px 1px 5px #ee3c37)
            drop-shadow(-1px -1px 5px #ee3c37);
}

#right {
	font-size: smaller;
	display: flex;
	align-items: center;
}

#right a {
	margin: 0 15px;
}

#center-image{
    display: block;
    margin: auto;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px #137728)
            drop-shadow(-1px -1px 5px #137728);
    transition-property: filter;
    transition-duration: .4s;
	
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#center-image:hover{
    filter: drop-shadow(2px 2px 10px #956c9a)
            drop-shadow(-2px -2px 10px #956c9a);
    transition-duration: .4s;
}

#center-image:active{
    filter: drop-shadow(2px 2px 20px red)
            drop-shadow(-2px -2px 20px red);
    transition-duration: 0s;
}

#center-text{
    display: block;
    margin: auto;
    cursor: pointer;
    transition-property: filter;
    transition-duration: .4s;
	
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: white;
    font-size: 4em;
    text-align: center;
}

#center-text:hover{
    filter: drop-shadow(2px 2px 10px #797979)
            drop-shadow(-2px -2px 10px #797979);
    transition-duration: .4s;
}

#center-text:active{
    filter: drop-shadow(2px 2px 12px orange)
            drop-shadow(-2px -2px 12px orange);
    transition-duration: 0s;
}

#manabreak{
    display: block;
    margin: auto;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px #b59bda)
            drop-shadow(-1px -1px 5px #4890fc);
    transition-property: filter;
    transition-duration: .4s;
	
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#manabreak:hover{
    filter: drop-shadow(2px 2px 10px #5425ed)
            drop-shadow(-2px -2px 10px #5425ed);
    transition-duration: .4s;
}

#manabreak:active{
    filter: drop-shadow(2px 2px 20px #37a5ff)
            drop-shadow(-2px -2px 20px #37a5ff);
    transition-duration: 0s;
}

#home {
    position: absolute;
    bottom: 13px;
    right: 15px;
}

#image{
	display: flex;
	flex: 1;
}

#debuff{
	position: absolute;
	opacity: 0;
    left: 50%;
	-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	top: 62.5%;
}

#target{
	height: 43px;
}

.growAnim {
	animation: grow .1s;
	animation-fill-mode: forwards;
}

 @keyframes grow {
	from { transform: none; }
	50% { transform: scale(1.15); }
	to { transform: none; }
}

 @-webkit-keyframes grow {
	from { transform: none; }
	50% { transform: scale(1.15); }
	to { transform: none; }
}