
#navBarBGRepeat {
	width:100%;
	height:68px;
	background-repeat:repeat-x;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/header/header_bg_repeat.jpg');
	background-color:#0b1213;
	position:relative;
	margin-bottom:1px;
	z-index: 10001;
}

#navBarShadow {
	position:absolute;
	width:100%;
	height:29px;
	top:68px;
	left:0px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/header/header_bg_shadow.png');
	background-repeat:repeat-x;
	z-index:100;
	pointer-events:none;
}

#navBarBG {
	width:100%;
	height:68px;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/header/header_bg.jpg');
	text-align:center;
}

#navBar {
	width: 938px;
	height: 69px;
	padding: 0;
	margin: 0 auto;
	text-align: left;
}

#navBar:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

#navBar .navBarItem {
	position: relative;
	display: inline-block;
	margin-right: 26px;
	vertical-align: middle;
	padding: 8px 0;
}

#navBar a.navBarItem img.top {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 8px 0;
}

#navBar a.navBarItem {
	font-family: goudy_trajan_boldbold, "times new roman", Arial, Sans-Serif;
	text-transform:uppercase;
	letter-spacing:4px;
	font-size:12px;
	color:#908d8b;
}

#navBar a.navBarItem:hover {
	color:#ffffff;
}

#navBar img.dn_arrow {
	position: relative;
	width: 10px;
	height: 6px;
	border: 0;
	left: -24px;
	top:-1px;
}

#navBar div.external_img {
	position: relative;
	display:inline-block;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/nav/external.png');
	background-position:top;
	width: 10px;
	height: 8px;
	border: 0;
	left: -24px;
	top:-1px;
}

a.navBarItem:link, a.navBarItem:active, a.navBarItem:visited {
	text-decoration:none;
	color: #908d8b;
}

a.navBarItem:hover {
	color: #ffffff;
}

#navLoginAndLanguage {
	position:absolute;
	width:938px;
	text-align:right;
	top:3px;
	padding-right:10px;
	font-size:11px;
}

#navLoginAndLanguage a, #navLoginAndLanguage a:hover, #navLoginAndLanguage a:visited, #navLoginAndLanguage a:active {
	color:#908d8b;
	text-decoration:none;
	font-size:11px;
}

#navLoginAndLanguage a:hover {
	color:#ffffff;
}

#languageSelector {
	float:right;
}

#languageList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:999999;
	position:absolute;
	right:10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#languageList a {
	display:block;
	padding:3px 6px;
}

#languageList a:hover {
	background-color:#555555;
}

#adminSelector {
	float:right;
}

#adminList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:100;
	position:absolute;
	right:20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#adminList a {
	display:block;
	padding:3px 6px;
}

#adminList a:hover {
	background-color:#555555;
}

#supportSelector {
	float:right;
}

#supportList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:100;
	position:absolute;
	right:94px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#supportList a {
	display:block;
	padding:3px 6px;
}

#supportList a:hover {
	background-color:#555555;
}

.menuSubItemList {
	min-width: 200px;
	padding:3px 2px;
	border:solid #555 1px;
	background-color:#111;
	text-align:left;
	z-index:999999;
	position:absolute;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.menuSubItemList a {
	display:block;
	padding: 6px 8px;
	color: #AAA !important;
	font-size: small;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.menuSubItemList a:hover {
	color: white !important;
	background-color:#555;
	text-decoration:none;
}

.navItem {
	display: inline-block;
}

@font-face {
    font-family: 'Radiance';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot?#iefix') format('embedded-opentype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance.woff') format('woff'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance.ttf') format('truetype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-Bold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot?#iefix') format('embedded-opentype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.woff') format('woff'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.ttf') format('truetype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-SemiBold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot?#iefix') format('embedded-opentype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.woff') format('woff'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.ttf') format('truetype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goudy_trajan_boldbold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.svg#goudy_trajan_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'goudy_trajan_mediummedium';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.svg#goudy_trajan_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'goudy_trajan_regularregular';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.svg#goudy_trajan_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
