@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* scaffolding */
/* ----------- */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: white;
}

html {
    overflow-y: scroll;
    *overflow-x: hidden;
}

.tt-menu,
.gist {
    text-align: left;
}

/* base styles */
/* ----------- */

html {
    height: 100%;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    color: #333;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: 'dice';
    src: url('./../fonts/fontello.eot');
    src: url('./../fonts/fontello.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/fontello.woff') format('woff'),
    url('./../fonts/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* site theme */
/* ---------- */

.typeahead,
.tt-query,
.tt-hint {
    font-family: 'Cabin', sans-serif;
    width: 300px;
    height: 40px;
    padding: 0px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.typeahead::-ms-clear {
    display: none;
	width : 0;
	height: 0;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 298px;
    margin-top: 7px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

.hero-typeahead {
    align-items: baseline;
}

#inputline {
    padding: 130px 10px 15px;
    line-height: 1.5;
    white-space: nowrap;
}

#heroinput {
    display: inline-block;
    position: relative;
}

#hero-input-quote-start,
#hero-input-quote-end {
    vertical-align: middle;
}

.grey {
    margin-top: 20px;
    background-color: #EBEBEB;
    width: 100%;
}

#tipcontainer {
    display: none;
}

.hero {
    padding: 30px 50px 0px;
}

.herotitle {
    position: relative;
    max-width: 850px;
    margin: 0 auto;
}

.portrait {
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
}

.portrait-frame {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 256px;
}

.portrait-frame-inner {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 256px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    /* fix for safari/ios bug */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.portrait-img {
    max-width: 100%;
    height: auto;
    display: block;

    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 1;
}

.from-cache {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.portrait-image-loaded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portrait-frame-loaded .portrait-img {
    -webkit-filter: none;
    filter: none;
    opacity: 0;
}

.portrait-frame-loaded .portrait-image-loaded {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.name {
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-size: 1.879em;
    letter-spacing: 7px;
    align-self: center;
    font-style: normal;
    width: 100%;
    display: block;
}

.tips {
    font: 18px/1.5 Hind, sans-serif;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}

#links {
    bottom: 0;
    width: 100%;
    font-family: 'Hind', sans-serif;
    padding: 35px 30px 50px;
    font-size: 13px;
}

#links hr {
    margin: 4.5px 0;
}

.arrow {
    left: 50%;
    border: 20px solid transparent;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 100%;
    border-top-width: 0;
    border-bottom: solid 20px #ebebeb;
    margin-left: -20px;
    margin-top: 15px;
}

#allheroes {
    position: absolute;
    top: 5px;
    right: 40px;
    font-size: 16px;
}

#randomhero {
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -18px;
    line-height: 24px;
    font-size: 24px;
    font-family: 'dice';
    padding: 6px 10px;
}

#randomhero a {
    text-decoration: none;
    color: #CFCFCF;
}

#randomhero:hover {
    cursor: pointer;
}

.patch {
    position: absolute;
    top: 0;
    max-width: 256px;
    z-index: 1;
    width: 100%;
}

.patch .patch-img {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 53px;
}

.patch .patch-text {
    color: white;
    position: absolute;
    font-family: 'Fjalla One';
    font-size: 0.600em;
    right: -0.525em;
    top: 0.115em;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg) translate3d(0px,0px,1px);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.patch-outdated .patch-img {
    /*Beta Sticker*/
    top: 5px;
    right: -15px;
    height: 31px;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}

.patch-outdated .patch-text {
    /*Beta Text*/
    color: black;
    position: absolute;
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 0.725em;
    right: -0.125em;
    top: 0.375em;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}

.tips h1 {
    font-style: italic;
    font-family: Georgia, Times, serif;
    font-size: 24px;
}

.tips ul li {
    margin: 18px 0 0;
    padding-left: 20px;
}

.nexthero,
.prevhero {
    width: 55px;
    color: #BEBEBE;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-size: 110px;
    display: inline-block;
    top: 50%;
    opacity: 0;
    position: absolute;
    margin-top: -67px;

    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;

    animation: fadeOut ease-in-out 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: fadeOut ease-in-out 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: fadeOut ease-in-out 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: fadeOut ease-in-out 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: fadeOut ease-in-out 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

.herotitle:hover .nexthero,
.herotitle:hover .prevhero {
    opacity: 1;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
}

.prevhero {
    left: 30px;
    padding-right: 10px;
}

.nexthero {
    right: 30px;
    padding-left: 10px;
}

.theme-dark {
    color: #9d9d9d;
}

.theme-dark .tt-input {
    color: #333
}

.theme-dark body {
    background-color: #111;
}

.theme-dark #tipcontainer {
    background-color: #222;
}

.theme-dark #heroinput:after {
    border-bottom-color: #222;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 1em 0;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Fixes body scrolling issue */
.twitter-typeahead pre {
    left: -9999px;
    top: -9999px;
}

.herolist {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 16px 14px;
    border-top: solid 1px #EBEBEB;
	image-rendering: pixelated;
    -webkit-transition: border-top-color 0.3s;
    -moz-transition: border-top-color 0.3s;
    -ms-transition: border-top-color 0.3s;
    -o-transition: border-top-color 0.3s;
    transition: border-top-color 0.3s;
}

.tip-container--expanded + .herolist {
    border-top-color: #ccc;
}

.herolist__hero__link:before {
    -webkit-transition: -webkit-filter 0.5s;
    -moz-transition: -moz-filter 0.5s;
    -ms-transition: -ms-filter 0.5s;
    -o-transition: -o-filter 0.5s;
    transition: filter 0.5s;
    transition-property: filter, -webkit-filter;
}

.herolist__hero__link:before{
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
    filter: brightness(100%);
}

.herolist__hero:hover .herolist__hero__link:before{
    -webkit-filter: brightness(150%);
    -moz-filter: brightness(150%);
    -o-filter: brightness(150%);
    -ms-filter: brightness(150%);
    filter: brightness(150%);
}

.herolist__hero {
    display: inline;
}

.herolist__hero__name {
    display: none;
}

button.paypal{
	border:none;background:#C3C3C3;
	-webkit-appearance:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	height:32px;
	line-height:34px;
	padding:0 11px;
	text-align:center;
	color:#ffffff;
	font-size:16px
}

button.paypal{
	background-color:#C3C3C3;
	font-family: 'dice';
	-webkit-transition:background-color 80ms ease-in;
	-moz-transition:background-color 80ms ease-in;
	transition:background-color 80ms ease-in
}

button.paypal:hover{
	background-color:#0070ba
}

#social, .push {
    height: 75px; /* .push must be the same height as .footer */
}

#social a {
	font-family: 'dice';
    text-decoration: none;
    color: #C3C3C3;
	font-size: 25px;
	-webkit-transition:color 80ms ease-in;
	-moz-transition:color 80ms ease-in;
	transition:color 80ms ease-in
}

#social a.twitter:hover{
    color:#55ACEE
}

#social a.twitch:hover{
    color:#6441A5
}

#social a.youtube:hover{
    color:#E52D27
}

@media screen and (max-width: 800px) {
    #heroinput,
    .twitter-typeahead,
    .tt-menu {
        width: 100%;
    }

    #hero-input-quote-start,
    #hero-input-quote-end {
        display: none;
    }

    .hero {
        padding-left: 0;
        padding-right: 0;
    }

    .herotitle {
        display: block;
        padding: 0 0 10px;
    }

    .name {
        font-size: 28px;
    }

    .name,
    .portrait {
        width: 100%;
        display: block;
    }

    .portrait {
        position: relative;
        padding: 0 100px;
    }

    .portrait-img {
        padding: 0;
        max-width: 100%;
        max-height: 200px;
    }

    .tips {
        min-width: auto;
        width: 100%;
    }

    .tips h1 {
        text-align: center;
        margin: 10px 0;
    }

    .tips ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .tips ul li {
        padding: 16px;
        margin: 0;
    }

    .tips li + li {
        border-top: solid 1px #ccc;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        width: 100%;
    }

    .nexthero,
    .prevhero {
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
        font-size: 86px;
        line-height: 52px;
        margin-top: -31px;
        opacity: 1;
    }
}
